<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/Css/adminHome.css}">
</head>
<body>
<div class="ah">
<h1>Admin Home</h1>
</div>
<div class="ns">
<a href="newSong">Add a new Song</a>
<br><br>
</div>
<div class="vs">
<a href="viewSongs">View All Songs</a>
<br><br>
</div>
<div class="cp">
<a href="createplaylist">Create Playlist</a>
<br><br>
</div>
<div class="vps">
<a href="viewPlaylists">View Playlists</a>
</div>
</body>
</html>